PORT=5001
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.cgvikqf.mongodb.net/library_management?appName=Cluster0
JWT_SECRET=Wsx2590LwfcSFniVB+bnK2HoluqtXr2Ef+1eXFwZ6I8
JWT_EXPIRES_IN=7d
FINE_PER_DAY=2
MAX_BORROW_DAYS=14